@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body{
    color: #333638;
    font-family: 'Merriweather', serif;
    background-color: white;
    text-align: center;
}

.parent {
    display: grid;
    grid-template: 15px 230px 90px auto 250px 50px / 8px auto 15px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        ". nav ."
        ". header ."
        ". subtitle ."
        ". main ."
        ". aside ."
        "footer footer footer"
}

nav {
    grid-area: nav;
    justify-self: center;
    align-self: start;
    margin: 0;
}


.navigation-menu ul {
    list-style: none;
}

.navigation-menu li {
    display: inline-flex;
    padding: 15px;
}

.navigation-menu li a:hover {
    color: grey;
}

li, a {
    font-family: 'Merriweather';
    font-weight: 300;
    font-size: xx-small;
    color: #333638;
    text-decoration: none;
}

header {
    font-size: 35px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    grid-area: header;
    align-self: end;
}

.subtitle {
    grid-area: subtitle;
    margin-bottom: 30px;
    padding-left: 25px;
    color: gray;
}

.subtitle h1 {
    font-size: 21px; 
}


main {
    grid-area: main;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template: 40px 370px 40px 370px 40px 370px / 20px 290px 20px;
    row-gap: 25px;
    grid-template-areas: 
    ". link1 ."
    ". foto1 ."
    ". link2 ."
    ". foto2 ."
    ". link3 ."
    ". foto3 .";
    justify-content: center;
}

.link1 {
    grid-area: link1;
    justify-self: center;
}

.foto1 {
    grid-area: foto1;
}

.link2 {
    grid-area: link2;
    justify-self: center;
}

.foto2 {
    grid-area: foto2;
}

.link3 {
    grid-area: link3;
    justify-self: center;
}

.foto3 {
    grid-area: foto3;
}

main a:hover {
    color: grey;
}

img {
    width: 300px;
    height: 370px;
}

main a {
    display: inline-flex;
    padding: 15px;
}

aside {
    grid-area: aside;
    align-self: center;
    
}

input {
    width: 45%;
    max-width: 425px;
    padding: 0.8em;
    font-size: 0.9em;
    font-family: sans-serif;

    outline: none;
    border-radius: 4px;
    border-style: inset;
    border-width: 1px;
    border-color: lightgray;
    background-color: #f9f9f9;

}


.green-border {
    color: white;
    border: none; 
    height: 120px;
    width: 430px;
    padding: 20px;
    background-color: #7c8764;
}



footer {
    grid-area: footer;
    justify-self: stretch;
    color: white;
    background-color: #333638;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}


@media screen and (min-width:768px){
    .parent {
        display: grid;
        grid-template: 15px 220px 90px auto 250px 50px / 50px auto 50px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-areas:
            ". nav ."
            ". header ."
            ". subtitle ."
            ". main ."
            ". aside ."
            "footer footer footer"
    }
    main {
        grid-area: main;
        align-self: center;
        display: grid;
        grid-template: 40px 360px / repeat(3,280px);
        justify-content: center;
        justify-items: center;
        column-gap: 70px;
        row-gap: 25px;
        grid-template-areas: 
        "link1 link2 link3"
        "foto1 foto2 foto3";
    }

    aside {
        justify-self: center;
    }

    .green-border {
        color: white;
        border: none; 
        height: 100px;
        width: 930px;
        padding: 30px;
        background-color: #7c8764;
    }

    input {
        width: 35%;
        max-width: 425px;
        padding: 0.8em;
        font-size: 0.9em;

    }

}



